<div class="flex flex-col gap-3 p-2 bg-[#1e1e1e]">
  <span class="p-input-icon-left w-full">
    <input
      type="text"
      pInputText
      [(ngModel)]="searchTerm"
      placeholder="Search files..."
      class="w-full"
    />
  </span>

  @if (filteredFiles().length > 0) {
    <div class="max-h-60 overflow-y-auto border border-gray-700 rounded">
      @for (file of filteredFiles(); track $index) {
        <div
          (click)="selectFile(file)"
          class="p-3 hover:bg-[#404040] cursor-pointer border-b border-gray-800 flex justify-between"
        >
          <span>{{ file }}</span>
          <span class="text-gray-500 text-xs">{{ $index + 1 }}</span>
        </div>
      }
    </div>
  } @else {
    <p>No files available.</p>
  }
</div>
