<div class="h-[calc(100vh-56px)] relative flex justify-center items-center p-4 font-os">
    <p-card class="min-w-92.5 w-full max-w-112.5 overflow-hidden">
        <ng-template pTemplate="header">
            <div
                class="text-lg font-semibold border border-[#333] bg-[#1e1e1e] text-green-400 shadow-2xl p-4 rounded-t-lg">
                @if (studentIdTitle){ root@student:~/status/{{ studentIdTitle }}$ } @else {
                root@student:~/status$ }
            </div>
        </ng-template>

        @if (!studentData) {
        <div class="flex flex-col gap-4">
            <div class="text-gray-400 text-sm mb-2">> ./check_status --student-id</div>
            <p-floatlabel variant="on">
                <input pInputText id="sid" (keyup.enter)="getGrades()" [(ngModel)]="studentIdSearch"
                    (input)="showInputError = false" [invalid]="showInputError" autocomplete="off"
                    class="w-full bg-black text-green-400 border-gray-700 focus:border-green-500" />
                <label for="sid">Enter Student ID</label>
            </p-floatlabel>
            @if (showInputError) {
            <p-message severity="error" size="small" variant="simple"> {{ errorMsg }}</p-message>
            }
            <p-button styleClass="w-full bg-green-700 border-green-600 hover:bg-green-600 text-white font-bold"
                (onClick)="getGrades()" label="Check" />
            @if(searching){
            <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" />
            }
        </div>
        } @else {
        <student-summary [studentData]="studentData" (onGoBack)="onReturn()"></student-summary>
        }
    </p-card>
</div>